html {
    background-color: #202020;
    color: #b1a5a5;
    text-align: center;
}

.border {
    border: 3px solid #b1a5a5;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.timeline {

    max-width: 700px;
}

h1 {
    color: #ac4646;
}

h2 {
    color: #ac4646;
}

h3 {
    color: #ac4646;
}

h4 {
    color: #ac4646;
}

a {
    color: #ac4646;
    display: inline;
    text-decoration: none;
    justify-content: space-between;
    padding: 20px;
}

a:hover {
    color: #ad7171;
}